.bello {
    color: red;
    text-transform: uppercase;
}
.bell {
    color: rgb(43, 255, 0);
    text-transform: uppercase;
}
.bll {
    color: rgba(59, 11, 107, 50%);
    text-transform: uppercase;
}